* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: rgb(8	61	119	);
    color: white;
    border-bottom: 2px solid rgb(144	221	240	);
}

h1 {
    font-family: "open sans"; 
}

h2 {
    font-family: "open sans";
    margin: 1rem;
}

strong {
    font-family: "oswald";
}

li {
    display: inline-block;
    font-size: 10px;
    background-color: rgb(144	221	240);
    border-radius: 1rem;
    padding: 2px 3px;
}

img {
    max-width: 100%;
}

.top-text {
    font-family: "open sans";
    margin: 0.5rem;
}

.dog-pics {
    max-width: 300px;
}

.dog {
    display: inline-block;
    max-width: 300px;
    margin: 0.1rem;
}

.line {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    justify-content: space-evenly;
}

footer {
    display:flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    justify-content: space-evenly;
}

.footer {
    width: 33%;
    height: 400px;
    font-family: "oswald";
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
    padding: 50% 50%;
}

.foot1 {
    background: linear-gradient(rgba(122,120,172,0.5),rgba(122,120,172,0.5)),
                no-repeat center/cover url(starter_files/images/donate.jpg);
}

.foot2 {
    background: linear-gradient(rgba(122,120,172,0.5),rgba(122,120,172,0.5)),
                no-repeat center/cover url(starter_files/images/volunteer.jpg);
}

.foot3 {
    background: linear-gradient(rgba(122,120,172,0.5),rgba(122,120,172,0.5)),
                no-repeat center/cover url(starter_files/images/location.png);
}